<section class="about-container">
  <mat-card class="about-card">
    <mat-card-header>
      <mat-card-title>About Me</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="profile-info">
        <img
          src="../../../../assets/profile-picture.JPG"
          alt="Shlomi Masuri"
          class="profile-picture"
        />

        <p>
          Hi! I'm Shlomi Masuri, a passionate developer with a love for Angular
          and front-end technologies. I enjoy building user-friendly and
          performant applications.
        </p>

        <p>Connect with me on LinkedIn:</p>
        <a href="https://www.linkedin.com/in/fcshlom" target="_blank"
          >LinkedIn Profile</a
        >
      </div>
    </mat-card-content>
  </mat-card>
</section>
